h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

p,
span,
li {
  font-family: $body-font;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $color-blue;
}

li {
  margin-bottom: 15px;
}
