<h1>
  What is West London Coders?
</h1>

<div class='container__text'>
  <p>
    An inclusive and collaborative meetup for new and experienced developers to learn programming skills and expand their network.
  </p>
</div>
