<div class='container'>
  <h1>Code of Conduct</h1>
  <div class='container__text'>
    <p>
      All attendees, speakers and organisers at our meetups must agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting co-operation from all guests to help ensure a safe environment for everybody.
    </p>

    <p>
      <h3>tl;dr: Be nice or go home</h3>
    </p>

    <p>
      West London Coders is committed to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion.
    </p>

    <p>
      Sexual language and imagery is not appropriate at our meetups.
    </p>

    <p>
      Anyone violating these rules may be removed from the meetup at the discretion of our organisers.
    </p>

    <p>
      Harassment includes verbal comments that reinforce social structures of domination, sexual images in public spaces, deliberate intimidation, stalking, following, unwanted photography or recording and unwelcome sexual attention.
    </p>

    <p>
      If you feel uncomfortable for any reason, please speak to an organiser and they will help you immediately.
    </p>
  </div>

  <h1>Accessibility</h1>
  <div class='container__text'>
    <p>
      There is step-free access to YOOX NET-A-PORTER's offices. If you need assistance of any kind please contact an organiser via Meetup.com.
    </p>
  </div>
</div>
