<div class='container'>
  <h1>Join our Slack workspace</h1>
  <div class='container__text'>
    <p>
      We use Slack to chat with each other during and outside the meetup. Our <%= link_to 'Code of Conduct', information_path %> also applies to you on Slack.
    </p>

    <p>You're free to talk about whatever you like, but please mind the following:</p>
    <ul>
      <li>We can't moderate private messages. Please tell us if you feel uncomfortable at any point</li>
      <li>Please avoid asking people to do unpaid work for a commercial business</li>
      <li>Please only post job ads in the #jobs channel</li>
    </ul>
  </div>
</div>

<div class='container'>
  <span class='u-center'><%= render 'slack_form' %></span>
</div>
