<nav class='navbar'>
  <a href=<%= root_path %>>
    <h3  class='navbar__logo'>
      <img src=<%= asset_path("logo.svg") %> />
      West London Coders
    </h3>
  </a>
  <span class='navbar__menu'>
    <a href='https://www.meetup.com/West-London-Coders/events/' target='__blank'>Meetups</a>
  </span>
</nav>
